[Unit]
Description=The Alarm Clock Service
After=network-online.target sound.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=the-alarm-clock
WorkingDirectory=/srv/the-alarm-clock/app
Environment="QT_QPA_PLATFORM=offscreen"

# prepare application (runs as User=the-alarm-clock)
ExecStartPre=-/bin/bash rpi/service-pre-start.sh

# Run application 
ExecStart=/bin/bash -c 'exec /usr/bin/python3 src/app_clock.py > /dev/null'

Restart=always
RestartSec=10
TimeoutStartSec=1000
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
